.body {
    /* display: flex;
    flex-direction: column; */
    font-family: 'Ubuntu', sans-serif;

}

.presentation {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.presentation h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: lowercase;
}


.rsx_scx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.rsx_scx a {
    font-size: 65px;
    text-decoration: none;
}

.fab fa-instagram {
  color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  
}

.fab fa-linkedin-in {
    color: #0e76a8;
}

.fab fa-dribbble {
    color: #ea4c89;
}

.fab fa-behance {
    color: #1769ff;
}
