.body {
    /* display: flex;
    flex-direction: column; */
    font-family: 'Ubuntu', sans-serif;

}

.presentation {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.rsx_scx {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.rsx_scx a {
    font-size: 75px;
}