body {
    /* display: flex;
    flex-direction: column; */
    margin: 15px;
}

html{
    font-family: 'Ubuntu', sans-serif;
}



.presentation {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 15px;
}

.presentation h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.presentation p {
    margin-bottom: 15px;
}


.rsx_scx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

}

.rsx_scx a {
    font-size: 55px;
    text-decoration: none;
}

.fa-instagram {
    color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  
}

.fa-linkedin-in {
    color: #0e76a8;
}

.fa-dribbble {
    color: #ea4c89;
}

.fa-behance {
    color: #1769ff;
}




.formation{
    margin-bottom: 50px;
}





.Experience_Pro {
    margin-bottom: 50px;
}





.Realisations {
    margin-bottom: 50px;
}







.Ce_que_je_sais_utiliser {
    margin-bottom: 50px;
}

.quatre_gp_comps {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}

.deux_gp_comps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deux_gp_comps i {
    font-size: 80px;
}

.un_gp_comps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}



.langue {
    margin-bottom: 50px;
}